@font-face {
    font-family: 'ALS Schlange Sans';
    src: local('ALS Schlange Sans Bold'), local('ALS-Schlange-Sans-Bold'),
        url('ALSSchlangesans-Bold.woff2') format('woff2'),
        url('ALSSchlangesans-Bold.woff') format('woff'),
        url('ALSSchlangesans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }